<!--About page-->
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KTX3DW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KTX3DW');</script>
<!-- End Google Tag Manager -->
<title>About Us</title>
<!--<img src="/gfx/haiVoPic.png">-->
<h2><center>About tabdec</center></h2>
    <HR> <!--forms a line across the page for design purposes. -Duke-->
    <p>tabdec is a customizable browser home page that allows user to add and delete their favorite tabs to their home page, so users could access their tabs at a faster speed!</p>
    <br>
<h2>Features:</h2>
    <ul>
    <li>Organize all of your favorite websites into one website. Home, sweet home, anyone?
    <li>Customization! Re-size the image of your websites to your liking!
    <li>It's LIVE! We will grab the latest images and updates from your websites and display them in the boxes!
    <li>Got a lot of emails to manage? tabdec will grab the latest emails and feed them to you on the homepage! *coming soon*
    </ul>
    <br>
    For more information, please visit <a href="/static_pages/contact">Contact</a>.
<h2><center>About Us</center></h2>
    <HR>
    <p>We are UCSC computer science students that thought internet browsers like you deserve a more user friendly and customizable home page to support your daily internet activities.</p>

<%= link_to "Back", :back %>
