<!--Contact page -->
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KTX3DW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KTX3DW');</script>
<!-- End Google Tag Manager -->
<title>Contact Us</title>
<!-- <center><img src="/gfx/haiVoPic.png" width="640" height="480"></center> -->
<br>
<center><h1>Contact</h1></center>
<HR>
    <!--Our names are links to our own email. Clicking on it will open up email app-->
    <center><h2>Product Owner</h2>
        <p> <b>Hai Vo</b>: hqvo@ucsc.edu</p>
        <h2>The Team</h2>
        <p> <b>Andy Ly</b>: aly9@ucsc.edu</p>
        <p> <b>Duke Lee</b>: dlee32@ucsc.edu</p>
        <p> <b>Luis Nunez</b>: lanunez@ucsc.edu</p>
        <p> <b>Craig Hu</b>: cryhu@ucsc.edu </p>
        <p> <b>Steven Yeng</b>: syeng@ucsc.edu</p>
    </center>
<HR>
<%= link_to "Back", :back %>
